.logo{
    margin-top: 15px;
    margin-left: 30px;
}
.color-blue{
    color: #264a9f !important;
}
.transparent{
    background:#071e54;
    opacity: 0.09;
}
.container{
    margin-top: 40px;
}
.border-right{
    border-right: 2px dotted black;
}
.img-2{
    padding: 10px;
    margin: 20px;
    border-radius: 100%;
    
}
.footer-div{
    background-color: #18478b;
}
.footer-line{
 margin: -5px 0 0 80px;
  border-top:2px dotted; 
  background-color:#18478b;
  width:1100px;
    
}

.footer-about{
    margin-bottom: 1px;
    font-size: 13px;
}